name: Python checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  py2-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "2.7"
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Test with unittest
        run: |
          poetry run python -m unittest discover
  py3-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.0
